
  <div class="container-fluid">
    <div class="row row-cols-2 cardTitle">
      <div class="col">2019年08月  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg></div>
      <div class="col account">全部账户  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg></div>
    </div>
  <div class="card bg-warning text-white">
    <img src="..." class="card-img" alt="...">
    <div class="card-img-overlay">
      <div class="container-fluid">
        <div class="row row-cols-2">
          <div class="col">08/2019</div>
          <div class="col">余额：1000.80</div>
          <div class="col">支出：¥1，833.16</div>
          <div class="col">收入：¥147.49</div>
        </div>
        <div class="row">
          <p>预算，您还未设置<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
          </svg></p>
        </div>
      </div>


    </div>

  </div>

